.uploadedImages {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px; /* Adjust the gap between images as needed */
  padding-bottom: 5rem;
  padding-top: 5rem;
}

.noContent {
  text-align: center;
  color: gray;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  & svg{
    font-size: 40px;
  }
}

.imageContainer {
  width: 100%;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  padding-top: 100%; /* This maintains the aspect ratio */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  opacity: 0;
  transform: scale(0.8);
  visibility: hidden;

  animation: popIn 0.4s ease-out forwards;
  animation: popIn 0.4s ease-out forwards;
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Adjusts the image to fill the container while maintaining its aspect ratio */
  cursor: pointer;
}
.videoBadge {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  font-size: 25px;
  color: #6f6959;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.67);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}

/* Desktop layout */
@media only screen and (min-width: 768px) {
  .uploadedImages {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px; /* Adjust the gap between images as needed */
    padding-bottom: 3rem;
    max-width: 1200px;
    margin: 0 auto;
  }
}

@keyframes popIn {
  0% {
    transform: scale(0.8);
    opacity: 0;
    visibility: hidden;
  }
  100% {
    transform: scale(1);
    opacity: 1;
    visibility: visible;
  }
}

.checkboxs {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 200;
  background: transparent;
  border: none;
}

.checkboxs input[type="checkbox"] {
  width: 20px;
  height: 20px;
  margin-left: 0.5rem;
}
