.spinnerContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}

.spinner {
  width: 70px;
  height: 70px;
  border: 8px solid #6f6959;
  border-top: 8px solid #ffdd82;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  background-color: transparent;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
