.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(205, 202, 194, 0.574);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* make sure it’s on top */
}

.modal {
  padding: 3rem 2rem;
  border-radius: 12px;
  max-width: 500px;
  width: 90%;
  color: #6f6959;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.fileInput {
  margin: 2rem 0;
  font-size: 16px;
}

.uploadBtn {
  background: #ffdd82;
  color: rgb(25, 25, 25);
  padding: 0.6rem 1.2rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.uploadBtn:hover {
  background: whitesmoke;
}
