.container1 {
  background: transparent;
  position: fixed;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 200;
  
}

.menu1 {
  padding: 10px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.67);
  color: #6f6959;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(7.1px);
  -webkit-backdrop-filter: blur(7.1px);
  border: 1px solid rgba(255, 255, 255, 0.91);
  font-size: 50px;
  display: flex;
  justify-content: center;
}

.totalCount{
  position: absolute;
  top: -10px;
  left: 50px;
  font-size: 16px;
  border-radius: 50%;
  background-color: goldenrod;
  padding: 5px;
  color: whitesmoke;
  text-shadow: 1px 2px 2px #3328
}